# Ignora l'intero file .env per il progetto
.env
.env*
.env.*
._env*

# Node.js (Server)
server/node_modules/
server/.env
server/.env.*
server/.env*
server/._env*
server/._env.*
server/.npm/
server/logs/
server/temp/
server/*.log
server/*.pid
server/*.seed
server/*.pid.lock
server/*.txt
server/uploads/veicoli
server/uploads/avatar

# Next.js (Client)
client/.next/
client/node_modules/
client/.env.local
client/.env*
client/.env.*
client/._env*
client/._env.*
client/._env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/out/
client/public/static/
client/build
client/.DS_Store
client/*.pem
client/.pnp
client.pnp.js
client.yarn/install-state.gz

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo
client/next-env.d.ts

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistemi operativi
.DS_Store
Thumbs.db

# Editor di testo
.idea/
.vscode/
*.swp
*.swo

# Altri file temporanei
*.bak
*.tmp
*.temp
~$*

# File di lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# Backup vari
*.bak
*.old
*.orig

# Configurazioni locali
*.local
